.main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    bottom: 0;
}

.carousel-caption-title {
    font-family: 'Roboto Slab', serif;
}

.subtitle {
    font-family: 'Lato', sans-serif;
}

.text-body {
    font-family: 'PT Sans', sans-serif;
}