.container-custom {
    height: 70px;
}

.navbar-header-custom {
    padding-top: 20px;
}

.navbar-header > a:hover {
    text-decoration: none;
}

.nav-menu-bar-custom {
    background-color: white;
    float: right;
    width: 800px;
    padding-top: 10px;
    overflow: hidden;
    border-top: none;
}

.navbar-toggle-custom {
    margin-top: 3px;
}

.navbar-custom {
    background-color: white;
    height: 70px;
    margin-bottom: 0;
}

.nav-title {
    color: darkgray;
    font-family: Georgia, serif;
    font-size: 22px;
}

. nav-custom {
    background-color: white;
    text-align: right;
}

.nav-custom > li > a {
    color: darkgray;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /*font-weight: 500;*/
}

.nav-custom > li > a:hover {
    color: black;
    background-color: transparent;
}

.sub-nav-custom {
    visibility: hidden;
    position: absolute;
    z-index: 99999;
}

ul li:hover > ul
{
    visibility:visible;
    /*opacity:1;*/
}

.icon-bar-color {
    background: black;
}

.carousel-inner-custom {
    /*background: black;*/
}




