.container-custom {
    height: 100px;
}

.navbar-header-custom {
    padding-top: 20px;
}

.nav-menu-bar-custom {
    float: right;
    width: 600px;
    padding-top: 20px;
}

.navbar {
    background-color: white !important;
    height: 70px !important;
}

.nav-title {
    color: darkgray;
    font-family: Georgia, serif;
    font-size: 22px;
}

.nav-font > li > a {
    color: darkgray;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.icon-bar-color {
    background: black;
}


