.container-custom {
    height: 70px;
}

.navbar-header-custom {
    padding-top: 20px;
}

.navbar-header > a:hover {
    text-decoration: none;
}

.nav-menu-bar-custom {
    float: right;
    width: 600px;
    /*padding-top: 15px;*/
}

.navbar-toggle-custom {
    margin-top: 3px;
}

.navbar-custom {
    background-color: white;
    height: 70px;
}

.nav-title {
    color: darkgray;
    font-family: Georgia, serif;
    font-size: 22px;
}

.nav-custom {
    background-color: white;
    text-align: right;
}

.nav-custom > li > a {
    color: darkgray;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /*font-weight: 500;*/
}

.nav-custom > li > a:hover {
    color: black;
    background-color: transparent;
}

.icon-bar-color {
    background: black;
}

.carousel-inner-custom {
    background: black;
}




